In [7]:
import pandas as pd
df_in = pd.read_csv('metaData.csv')

In [26]:
df_in.columns

Index(['name', 'busNumber', 'startTime_iso', 'startTime_unix', 'endTime_iso',
       'endTime_unix', 'drivenDistance', 'busRoute', 'energyConsumption',
       'itcs_numberOfPassengers_mean', 'itcs_numberOfPassengers_min',
       'itcs_numberOfPassengers_max', 'status_gridIsAvailable_mean',
       'temperature_ambient_mean', 'temperature_ambient_min',
       'temperature_ambient_max'],
      dtype='object')

 ### 1. Extract all trips with busRoute 83:

In [15]:
trips_route_83 = df_in[df_in['busRoute'] == '83']
trips_route_83

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
154,B183_2020-03-03_04-42-38_2020-03-03_19-44-51,183,2020-03-03T04:42:38Z,1583210558,2020-03-03T19:44:51Z,1583264691,225047.90,83,1.544278e+09,23.47531,0,118,0.472180,280.5450,279.15,289.1500
155,B183_2020-03-06_04-53-23_2020-03-06_19-44-42,183,2020-03-06T04:53:23Z,1583470403,2020-03-06T19:44:42Z,1583523882,224512.30,83,1.631816e+09,17.41578,0,69,0.451028,279.8850,278.15,289.1500
157,B183_2020-03-09_14-16-13_2020-03-09_19-34-17,183,2020-03-09T14:16:13Z,1583763373,2020-03-09T19:34:17Z,1583782457,77824.36,83,5.406013e+08,23.18182,0,74,0.460099,281.0489,279.15,291.1500
158,B183_2020-03-10_04-50-03_2020-03-10_19-51-25,183,2020-03-10T04:50:03Z,1583815803,2020-03-10T19:51:25Z,1583869885,225095.80,83,1.692171e+09,20.96410,0,86,0.475233,279.8363,279.15,291.1500
159,B183_2020-03-12_04-56-41_2020-03-12_19-44-57,183,2020-03-12T04:56:41Z,1583989001,2020-03-12T19:44:57Z,1584042297,224181.20,83,1.145860e+09,17.21235,0,80,0.340882,287.3445,282.15,291.1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1399,B208_2022-11-30_04-47-53_2022-11-30_19-50-22,208,2022-11-30T04:47:53Z,1669783673,2022-11-30T19:50:22Z,1669837822,223165.00,83,1.560888e+09,27.89066,2,100,0.456196,280.6948,279.15,293.1500
1400,B208_2022-12-01_05-19-41_2022-12-01_18-20-57,208,2022-12-01T05:19:41Z,1669871981,2022-12-01T18:20:57Z,1669918857,190196.00,83,1.418847e+09,26.03927,0,96,0.450413,279.7655,279.15,292.1500
1401,B208_2022-12-02_04-47-48_2022-12-02_19-40-01,208,2022-12-02T04:47:48Z,1669956468,2022-12-02T19:40:01Z,1670010001,224473.40,83,1.611150e+09,24.80384,2,91,0.438693,279.7888,279.15,291.1500
1405,B208_2022-12-07_05-13-02_2022-12-07_19-19-53,208,2022-12-07T05:13:02Z,1670389982,2022-12-07T19:19:53Z,1670440793,210041.60,83,1.536697e+09,28.78539,0,115,0.434858,279.5283,278.15,292.6655
1406,B208_2022-12-08_05-22-20_2022-12-08_18-39-15,208,2022-12-08T05:22:20Z,1670476940,2022-12-08T18:39:15Z,1670524755,190372.70,83,1.415700e+09,29.87940,0,102,0.439916,279.1724,277.15,292.1500

### 2. Extract all trips where busRoute is not a number:

In [22]:
non_numeric_bus_route_df = df_in[pd.to_numeric(df_in['busRoute'], errors='coerce').isna()]
non_numeric_bus_route_df

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,-,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.15
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,-,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.15
9,B183_2019-05-10_03-16-11_2019-05-10_18-51-37,183,2019-05-10T03:16:11Z,1557458171,2019-05-10T18:51:37Z,1557514297,210577.00,-,1.303391e+09,8.230483,0,43,0.740927,287.5623,282.15,293.15
10,B183_2019-05-13_03-10-23_2019-05-13_23-16-13,183,2019-05-13T03:10:23Z,1557717023,2019-05-13T23:16:13Z,1557789373,267033.80,-,1.647432e+09,7.891652,0,45,0.804191,284.6764,280.15,293.15
19,B183_2019-05-24_02-52-47_2019-05-24_22-35-11,183,2019-05-24T02:52:47Z,1558666367,2019-05-24T22:35:11Z,1558737311,263432.60,-,1.448057e+09,7.520249,0,44,0.761068,293.1440,283.15,299.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,B208_2022-10-21_22-38-32_2022-10-22_02-42-21,208,2022-10-21T22:38:32Z,1666391912,2022-10-22T02:42:21Z,1666406541,78567.16,N1,4.347766e+08,16.333330,0,45,0.431852,289.2550,288.15,296.15
1374,B208_2022-10-22_22-34-45_2022-10-23_02-29-59,208,2022-10-22T22:34:45Z,1666478085,2022-10-23T02:29:59Z,1666492199,73427.97,N2,3.997737e+08,17.710530,0,57,0.443358,287.3486,285.15,295.15
1394,B208_2022-11-25_23-35-16_2022-11-26_03-30-39,208,2022-11-25T23:35:16Z,1669419316,2022-11-26T03:30:39Z,1669433439,72911.26,N2,4.475534e+08,11.216670,1,32,0.465024,281.3884,280.15,293.15
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,2022-12-09T23:55:12Z,1670630112,2022-12-10T03:24:28Z,1670642668,59548.57,N1,4.519165e+08,20.105260,0,74,0.495739,279.4540,277.15,291.15
1408,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,2022-12-10T23:34:46Z,1670715286,2022-12-11T03:29:05Z,1670729345,72293.83,N2,5.350956e+08,15.993200,0,52,0.459492,276.0036,273.15,291.15

### 3. For each (busNumber, busRoute) pair, determine the number of trips

In [24]:
trip_count_df = df_in.groupby(['busNumber', 'busRoute']).size().reset_index(name='trip_count')
trip_count_df

    busNumber busRoute  trip_count
0         183        -          11
1         183       31          12
2         183       32          12
3         183       33         130
4         183       46         104
5         183       72         114
6         183       83         441
7         183       N1          10
8         183       N2          19
9         183       N4          11
10        208       31           5
11        208       32          14
12        208       33          25
13        208       46          19
14        208       72          44
15        208       83         405
16        208       N1           6
17        208       N2          20
18        208       N4           7

### 4. For each trip, compute the ratio between the energy consumption and the average number of passengers

In [27]:
df_in['energy_passenger_ratio'] = df_in['energyConsumption'] / df_in['itcs_numberOfPassengers_mean']

In [28]:
df_in['energy_passenger_ratio']

0       8.640500e+07
1       1.214747e+07
2       7.342794e+07
3       1.673328e+08
4       2.613190e+07
            ...
1404    1.070215e+07
1405    5.338462e+07
1406    4.738047e+07
1407    2.247753e+07
1408    3.345769e+07
Name: energy_passenger_ratio, Length: 1409, dtype: float64

### 5. For each station (itcs_stopName), determine the average number of passengers

### 6 - 7 - 8- 12- 13-15-16

### 9. For each (route, bus) pair, compute the ratio between the overall energy consumption and the overall driven distance

In [30]:
df_in['busRoute'] = df_in['busRoute'].astype(str)

In [32]:
route_bus_ratio = df_in.groupby(['busNumber', 'busRoute']).apply(lambda x: x['energyConsumption'].sum() /x['drivenDistance'].sum()).reset_index(name='energy_to_distance_ratio')

<ipython-input-32-a79c0f51ab0a>:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  route_bus_ratio = df_in.groupby(['busNumber', 'busRoute']).apply(lambda x: x['energyConsumption'].sum() /x['drivenDistance'].sum()).reset_index(name='energy_to_distance_ratio')

In [33]:
route_bus_ratio

    busNumber busRoute  energy_to_distance_ratio
0         183        -               6230.233181
1         183       31               6086.891785
2         183       32               6174.585331
3         183       33               5970.747507
4         183       46               5631.035959
5         183       72               5899.029643
6         183       83               5844.977154
7         183       N1               5980.920966
8         183       N2               5701.850332
9         183       N4               6154.986937
10        208       31               5290.862713
11        208       32               5491.247671
12        208       33               5639.244537
13        208       46               5583.110707
14        208       72               5410.318878
15        208       83               5819.638891
16        208       N1               5640.061883
17        208       N2               5405.152963
18        208       N4               6067.190112

### 10. Starting from the results of the previous point, for each route compute the buses with max and min energy ratio, and save the difference between these ratios in a dataframe.

In [40]:
energy_ratio_minmax = route_bus_ratio.groupby('busRoute').apply(
                                              lambda x: pd.DataFrame({
                                                  'min_busNumber': [x.loc[x['energy_to_distance_ratio'].idxmin(), 'busNumber']],
                                                  'min_ratio': [x['energy_to_distance_ratio'].min()],
                                                  'max_busNumber': [x.loc[x['energy_to_distance_ratio'].idxmax(), 'busNumber']],
                                                  'max_ratio': [x['energy_to_distance_ratio'].max()],
                                                  'ratio_difference': [x['energy_to_distance_ratio'].max() - x['energy_to_distance_ratio'].min()]
                                              })).reset_index(drop=True)

<ipython-input-40-c19f37a60899>:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  energy_ratio_minmax = route_bus_ratio.groupby('busRoute').apply(

In [41]:
energy_ratio_minmax

   min_busNumber    min_ratio  max_busNumber    max_ratio  ratio_difference
0            183  6230.233181            183  6230.233181          0.000000
1            208  5290.862713            183  6086.891785        796.029072
2            208  5491.247671            183  6174.585331        683.337660
3            208  5639.244537            183  5970.747507        331.502969
4            208  5583.110707            183  5631.035959         47.925252
5            208  5410.318878            183  5899.029643        488.710765
6            208  5819.638891            183  5844.977154         25.338263
7            208  5640.061883            183  5980.920966        340.859083
8            208  5405.152963            183  5701.850332        296.697369
9            208  6067.190112            183  6154.986937         87.796825

### 11. Find the bus maximizing the difference computed in the previous point.

In [45]:
max_diff_row = energy_ratio_minmax.loc[energy_ratio_minmax['ratio_difference'].idxmax()]

In [46]:
max_diff_bus = max_diff_row['max_busNumber']

In [47]:
max_diff_bus

183.0

### 14. For each month of the year, compute the average ambient temperature

In [49]:
df_in['startTime_iso'] = pd.to_datetime(df_in['startTime_iso'])

In [50]:
df_in['month'] = df_in['startTime_iso'].dt.month
average_temp_month = df_in.groupby('month')['temperature_ambient_mean'].mean().reset_index()

In [51]:
average_temp_month

    month  temperature_ambient_mean
0       1                278.958474
1       2                280.529928
2       3                283.319157
3       4                286.608216
4       5                290.051582
5       6                296.143297
6       7                297.376967
7       8                295.847943
8       9                292.362038
9      10                287.714072
10     11                281.884420
11     12                279.381561